// Frontend styles for Button blocks with icons.
// PHP injects the SVG inline as .wp-block-button__link-icon.

:root {
    --wp-block-button--icon-size: 1em;
}


.wp-block-button[class*="has-icon__"] {

    .wp-block-button__link {

        display: flex;
        gap: var(--wp-block-button--icon-gap, 0.75em);
        align-items: center;
        justify-content: center;

        &.has-text-align-right {
            justify-content: flex-end;
        }

        &.has-text-align-left {
            justify-content: flex-start;
        }
    }

    .wp-block-button__link-icon {
        display: inline-flex;
        line-height: 0;
        flex-shrink: 0;

        svg {
            display: block;
            height: var(--wp-block-button--icon-size);
            width: var(--wp-block-button--icon-size);
            fill: currentcolor;
            scale: 1.25;
        }
    }
}
